use asdf

export NEXT_PUBLIC_WC_PROJECT_ID=
export NEXT_TELEMETRY_DISABLED=

export ANVIL_RPC_URL=
export ANVIL_CHAIN_ID=31337
export ANVIL_PRIVATE_KEY=

export SEPOLIA_RPC_URL=
export SEPOLIA_PRIVATE_KEY=
export SEPOLIA_CHAIN_ID=11155111
